html,body{
    height: 100%;
    width: 100%;
}

#container {
    margin: auto;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
}

#poke-container {
    margin: auto;
    width: 100%;
    padding: 10px;
    padding-right: 0;
}

.cards {
    position: relative;
    left: -5em;
}

.card {
    background-color: #EBEBEB;
}

#header-container {
    border-radius: 0px !important;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

@font-face {
    font-family: Pokemon;
    src: url(../fonte/Pokemon\ Solid.ttf)
  }

#header-text{
    margin: 0 auto;
    font-size: 8em;
    font-family: Pokemon;
    color: #FFCC05;
    -webkit-text-stroke: 3px #3C5AA6;
}

#generate-pokemon {
    margin: 0 auto;
}



body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
}

.listagem {
    width: max-content;
    height: min-content;
    justify-content: center;
    margin: auto;
    padding: 10px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 8;
}

.listagem .pokemon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
    margin: 10px;
    background-color: #6B727A;
    color: #FFFFFF;
    padding: 0 5px;
    cursor: pointer;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 70px;
    width: 255.56px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.15s ease-in-out;
}

#pikachuIcon {
    /* width: 25%;
    height: 60%; */
    size: 60%;
    margin-bottom: 0 !important;
}


.listagem .pokemon .img{
    width: 0%;
    border-radius: 70%;
}

.listagem .pokemon .icone{
    width: 30%;
    margin: auto;
    border-radius: 70%;
}

.listagem .pokemon span{
    width: 30%;
    margin: auto;
}

.listagem .pokemon button{
    padding-right: 20px;
}

.listagem .pokemon:hover{
    transform: scale(1.05);
    background-color: #FA6668;
}

#toTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    left: 8em; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #6B727A; /* Set a background color */
    color: #FFFFFF; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #toTop:hover {
    background-color: #FA6668; /* Add a dark-grey background on hover */
  }

/* css loading */
#loading{
    width:8em;
    height:8em;
    border:5px solid#f3f3f3;
    border-top:6px solid#9c41f2;
    border-radius:100%;
    margin-top:auto;
    margin-bottom: auto;
    margin-right: 40em;
    display: none;
    animation:spin 1s infinite linear;

}

#loading.display{
    /* visibility:visible; */
    display: -webkit-flex;
}
    
@keyframes spin{
    from{
        transform:rotate(0deg);
   }
    to{
        transform: rotate(360deg);
   }        
}

.ui.card>.image>img, .ui.cards>.card>.image>img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: inherit;
}


.ui.card>.grama>img, .ui.cards>.card>.grama>img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: inherit;
    background: linear-gradient(238.05deg, #C9FFB6 -5.26%, #6CBE65 83.83%);
    border: 1px solid #EBEBEB;
}

.ui.card>.fogo>img, .ui.cards>.card>.fogo>img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: inherit;
    background: linear-gradient(238.05deg, #FFA35C -5.26%, #FF7070 83.83%);
    border: 1px solid #EBEBEB;
}

.ui.card>.veneno>img, .ui.cards>.card>.veneno>img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: inherit;
    background: linear-gradient(238.05deg, #b495f5 -5.26%, #8863D6 83.83%);
    border: 1px solid #EBEBEB;
}

.ui.card>.normal>img, .ui.cards>.card>.normal>img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: inherit;
    background: #CFE0E3;
    border: 1px solid #EBEBEB;
}

.ui.card>.agua>img, .ui.cards>.card>.agua>img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: inherit;
    background: linear-gradient(238.05deg, #88E2FF -5.26%, #236EC9 83.83%);
    border: 1px solid #EBEBEB;
}

.ui.card>.raio>img, .ui.cards>.card>.raio>img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: inherit;
    background: linear-gradient(238.05deg, #F9F489 -5.26%, #EAB34A 83.83%);
    border: 1px solid #EBEBEB;
}

.ui.card>.terra>img, .ui.cards>.card>.terra>img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: inherit;
    background: linear-gradient(238.05deg, #FFE2B6 -5.26%, #A17143 83.83%);
    border: 1px solid #EBEBEB;
}

.ui.card>.psiquico>img, .ui.cards>.card>.psiquico>img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: inherit;
    background: linear-gradient(238.05deg, #F2BEFF -5.26%, #A14FC7 83.83%);
    border: 1px solid #EBEBEB;
}

.ui.card>.fada>img, .ui.cards>.card>.fada>img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: inherit;
    background: linear-gradient(238.05deg, #FEBAFF -5.26%, #DE45AA 83.83%);
    border: 1px solid #EBEBEB;
}

.ui.card>.inseto>img, .ui.cards>.card>.inseto>img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: inherit;
    background: linear-gradient(238.05deg, #BEFFFB -5.26%, #38A5AC 83.83%);
    border: 1px solid #EBEBEB;
}

.ui.card>.lutador>img, .ui.cards>.card>.lutador>img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: inherit;
    background: linear-gradient(238.05deg, #FFBEA9 -5.26%, #CE3D3D 83.83%);
    border: 1px solid #EBEBEB;
}

.ui.card>.fantasma>img, .ui.cards>.card>.fantasma>img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: inherit;
    background: linear-gradient(238.05deg, #EDFCFF -5.26%, #BACED2 49.67%);
    border: 1px solid #EBEBEB;
}

.ui.card>.gelo>img, .ui.cards>.card>.gelo>img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: inherit;
    background: linear-gradient(238.05deg, #b4cffa -5.26%, #006bce 83.83%);
    border: 1px solid #EBEBEB;
}

.ui.card>.dragao>img, .ui.cards>.card>.dragao>img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: inherit;
    background: linear-gradient(238.05deg, #9be5ec -5.26%, #41cedc 83.83%);
    border: 1px solid #EBEBEB;
}

