html,body{
    height: 100%;
    width: 100%;
}

#container {
    margin: auto;
}

#poke-container {
    margin: auto;
    width: 90%;
    padding: 10px;
}

#header-container {
    border-radius: 0px !important;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: Pokemon;
    src: url(../css/fonte/Pokemon\ Solid.ttf)
  }

#header-text{
    margin: 0 auto;
    font-size: 8em;
    font-family: Pokemon;
    color: #FFCC05;
    -webkit-text-stroke: 3px #3C5AA6;
}

#generate-pokemon {
    margin: 0 auto;
}

.listagem {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 0 0 33.333333%;
    padding: 10px;
}

.listagem .pokemon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
    margin: 10px;
    background-color: #6B727A;
    color: #FFFFFF;
    padding: 0 5px;
    /* cursor: pointer; */
    /* border-top-left-radius: 30px;
    border-bottom-left-radius: 30px; */
    height: 70px;
    width: 255.56px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* transition: 0.15s ease-in-out; */
}

#pikachuIcon {
    /* width: 25%;
    height: 60%; */
    size: 60%;
    margin-bottom: 0 !important;
}

.listagem .pokemon img{
    width: 25%;
    border-radius: 50%;
}

.listagem .pokemon button{
    padding-right: 20px;
}
